# Ignore everything
*
app/__pycache__/
app/routers/__pycache__/
# Keep these folders
!alembic/
app/
!static/
!tests/

# Keep specific files
!alembic.ini
!app.db
!your_database.db

# Also keep the .gitignore file itself
!.gitignore
