# Ignore everything by default
*

# Keep top-level folders
!alembic/
!app/
!app/routers/
!app/routers/**
!static/
!static/templates/
!static/templates/**
!static/templates/admin/
!static/templates/admin/**
!static/css/
!static/css/**
!static/js/
!static/js/**
!static/images/
!static/images/**
!tests/

# Keep specific files
!alembic.ini
!app.db
!your_database.db
!app/*.py
!app/routers/*.py
!.gitignore
!requirements.txt
!.env.example

# Ignore secrets and compiled files
.env
app/.env
*.pyc
**/__pycache__/
models/t5-small/model.safetensors
