aiofiles
aiohttp
aiosqlite
alembic
asyncpg
email-validator
fastapi
flask
httpx
jinja2
pandas
passlib[bcrypt]
pydantic
pytest
pytest-asyncio
python-dotenv
python-jose[cryptography]
python-multipart
requests
schedule
sqlalchemy
stripe
uuid
uvicorn
